[org/gnome/desktop/session]
idle-delay=900

[org/gnome/desktop/screensaver]
idle_activation_enabled=true
lock-enabled=true
lock-delay=0

[org/gnome/settings-daemon/plugins/media-keys]
logout=''

[org/gnome/login-screen]
disable-user-list=true
